include LICENSE
include MANIFEST.in
include README.rst
recursive-include feincms3_language_sites/static *
recursive-include feincms3_language_sites/locale *
recursive-include feincms3_language_sites/templates *
